doctype html
html( ng-app="app" )
  head
    title(ng-bind="page_title")!= page_title
    meta(name="descrition",content=page_description)
    link(rel="Shortcut Icon",href="frontend/images/mobile.png",type="image/x-icon")

    link(rel="stylesheet", href="/frontend/css/bootstrap.min.css")
    link(rel="stylesheet", href="/frontend/css/style.css")

  body(ng-style="body_style",ng-class="body_class")
    block content
  