
$body_font: "Myriad Pro" ,"Helvetica Neue", Arial, sans-serif;
$header_font: "Segoe UI", "Myriad Pro", $body-font;
$body_color : #34495e;
$blue:#008fd5;
$gray : #434343;
$lighter-gray: #7b7b7b;
$font-gray: #aaa;
$border:#cacaca;
$bubble:#eee;
$fade_gray : #f5f5f5;
$green:#65bd10;
$fade_blue :#d9edf7;
$border_radius:2px;
$very_fast_animate : all .1s ease-in-out;
$fast_animate : all .2s ease-in-out;
$bootstrap_blue: #3a89a3;
$orange: #f0ad4e;
$horizontal_height:400px;
@font-face {
    font-family: "Myriad Pro Light";
    src: url(../fonts/MyriadPro-Light.ttf);
    font-weight: bold;
}

*::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
  background-color: #0ae;
  
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                     color-stop(.5, rgba(255, 255, 255, .2)),
             color-stop(.5, transparent), to(transparent));
}

body{
  background: -webkit-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* W3C */
  font-family: $body_font;;
  
}
a,p{
  color: $lighter-gray;
  font-size: 13px;
  line-height: 1.2em;
}
a{
  cursor: pointer;
}
a:hover{

  color: $blue;
}

h1,h2,h3,h4{
  color: $gray;
}
ul,ol{
  list-style: none;
  margin: 0px;
  padding:0px;
}
h3{
  font-weight: normal;
  font-size: 18pt;
  margin: 5px 0px;
  color: $lighter-gray;
}
#wrapper{
  width: 950px;
  height:620px;
  background:#fbf9f8;
  margin: 30px auto 0px auto;
  padding: 35px;
  #header{
    margin-bottom: 30px;
    position:relative;
    #logo{
      display: none;
      position:absolute;
      left: 10px;
      top: -18px;
      img{
        width: 60px;
      }
    }
    input[type="search"]{
      background: #fbf9f8;
      border-radius: 0px;
    }
  }
  .navigation{
    ul{
      margin-bottom: 30px;
      li{
        &.active{
          position:relative;
          &:before{
            content: "";
            position: absolute;
            top: 10px;
            left: -35px;
            width: 0px;
            height: 0px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $blue;
          }
          a{
            color: $blue;
          }
        }
        a{
          padding: 5px 0px;
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }
  .content-list{
    height: $horizontal_height;
    overflow:auto;
    .album{
      clear: both;
      margin: 0px 0px 30px 0px;
      position:relative;
      img{
        float: left;
        margin:0px 10px 0px 0px;
        width: 80px;
        height: 80px;
      }
      a.title{
        color: $gray;
        margin: 0px 0px 0px 0px;
        font-size: 15px;
        line-height: 16px;
        font-weight: normal;
        width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        &:hover{
          color: $blue;
        }
      }
      p.tag{
        /* background: url("../images/tag_blue.png") no-repeat left center; */
        color: $lighter-gray;
        margin: 0px;
        display: inline-block;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .number-songs{
        /* margin-bottom:0px; */
      }
      p.tag, .number-songs{
        span{
          color: $gray;
        }
      }
    }
  }
  .wrap-song-list{
    h4{
      margin:0px 0px 10px 0px;
      color: $lighter-gray;
      font-weight: normal;
    }
    .song-list{
      height:380px;
      padding-right: 10px;
      overflow: auto;

      ul{
        li{
            padding:6px 0px;
            span{
              min-width: 20px;
              display: inline-block;
            }
            &.playing{
              a{
                color: $blue;
              }
            }
          a{
            color: $lighter-gray;
          }
        }
      }
    }    
  }

  .player-zone{
    margin-top: 20px;
    height: 80px;
    position:relative;
    
    img.cover{
      width: 60px;
      height: 60px;
      float: left;
      margin:0px 20px 0px 0px;
    }
    p.title{
      color: $gray;
      font-size: 13pt;
    }

    /* override audiojs */
    .audiojs{

      
      display: table;
      width: 700px;
      height: 45px;

      .play-pause{
        font:normal normal normal 14px/1 FontAwesome;
        position:absolute;
        right: 50px;
        top: 20px;
        width: 25px;
        height: 30px;
        padding: 0px;
        margin: 0px;
        overflow: hidden;

        p{
          font-size: 20px;
          &:hover{
            i{
              color:$blue;
            }
            
          }
        }
      }

      .error-message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 700px;
        display: inline-block !important;
        position: absolute;
        bottom: 0px;
      }

      .scrubber {
         position: relative;
         width: 420px; 
         height: 14px;
         background:$lighter-gray;
      }

      .progress {
         position: absolute;
         top: 0px;
         left: 0px;
         height: 14px;
         width: 0px;
         background:$blue; 
         z-index: 1; 
         border-radius:0px;
         margin: 0px;
         cursor: pointer;
      }
      .loaded {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 14px;
        width: 0px;
        background: $gray; 
        cursor: pointer;
      }


      strong{
        font-weight: normal;

        &.duration{
          position:absolute;
          right: 320px;
          top: 27px;
        }

      }

      
    }
    /*end .audio-js */

    .volume-tune{
      position: absolute;
      right: 200px;
      top: 0px;
      p{
        color: $gray;
        font-size: 13pt;
      }
      .wrap-range{
        cursor: pointer;
        height:14px;
        background:$lighter-gray;
        width: 100px;
        float: left;
        .range{
          background:$blue;
          height: 100%;
        }        
      }

    }

    i#next-song, i#prev-song, i#current-list{
      position:absolute;
      top:25px;
      right: 10px;
      color: $lighter-gray;
      font-size: 20px;
      cursor: pointer;
      &:hover{
        color: $blue;
      }

    }

    i#prev-song{
      right: 100px;
    }
    i#current-list{
      right: 150px;
    }




  }
  /* end .player-zone */
}
.alertify-notifier.ajs-right .ajs-message{
  word-wrap: break-word;
  a{
    color: $blue;
    text-shadow: none;
  }
}