
$body_font: "Myriad Pro" ,"Helvetica Neue", Arial, sans-serif;
$header_font: "Segoe UI", "Myriad Pro", $body-font;
$body_color : #34495e;
$blue:#008fd5;
$white:#fff;
$gray : #434343;
$lighter-gray: #7b7b7b;
$font-gray: #aaa;
$border:#cacaca;
$bubble:#eee;
$fade_gray : #f5f5f5;
$green:#65bd10;
$fade_blue :#d9edf7;
$border_radius:2px;
$very_fast_animate : all .1s ease-in-out;
$fast_animate : all .2s ease-in-out;
$bootstrap_blue: #3a89a3;
$orange: #f0ad4e;
$horizontal_height:400px;
$wide_pading:35px;
@font-face {
    font-family: "Myriad Pro Light";
    src: url(../fonts/MyriadPro-Light.ttf);
    font-weight: bold;
}
