extend header
block content
  input(type="hidden",name="_csrf",value=csrfToken)
  div#wrapper
    div(ng-view, id="main-view")
    form(action="tuan",method="post")
      input(type="text",name="chan")
      input(type="hidden",name="_csrf",value=csrfToken)
      input(type="submit")
  