<div class="navigation">
  <div ng-controller="HeaderCtrl">
    <ng-include src="header_template" ng-init="init('album')"></ng-include>
  </div>
  
  <!-- <div class="online-section nav-item">
    <h3>Online</h3>
    <ul>
      <li ng-class="{active:current_page == 'public_album'}">
        <a href="#/albums/public">Public album</a>
      </li>
    </ul>
  </div> -->
  <div class="user-section nav-item">
    <h3>Libary</h3>
    <ul>
      <li ng-class="{active:current_page == 'album'}"><a href="#/albums">Your album</a></li>
      <li ng-if="share_album_id" ng-class="{active:current_page == 'share_album'}"><a href="#/album/{{share_album_id}}">Shared album</a></li>
      <li ng-class="{active:current_page == 'link'}" ng-if="user"><a href="#/links">Links</a></li>
      <li ng-if="user" ng-class="{active:current_page == 'user-setting'}"><a href="#/edit-profile">Setting</a></li>
      <li ng-if="user"><a href="#/logout">Log out</a></li>
      <li ng-if="!user"><a href="#/login">Login</a></li>
    </ul>
  </div>
</div>