<div class="navigation">
  <div class="online-section nav-item">
    <h3>Online</h3>
    <ul>
      <li>
        <a href="#">Public album</a>
      </li>
    </ul>
  </div>
  <div class="user-section nav-item">
    <h3>Libary</h3>
    <ul>
      <li ng-class="{active:current_page == 'album'}"><a href="#/albums">Your album</a></li>
      <li ng-class="{active:current_page == 'user-setting'}"><a href="#/edit-profile">Setting</a></li>
      <li><a href="#/logout">Log out</a></li>
    </ul>
  </div>
</div>