<div class="row" ng-init="init()">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h3>Reset your password</h3>
    <p>&nbsp;</p>
    <form class="form" ng-submit="submit()">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="login_name" placeHolder="user name or email" required focus-me="{{true}}"  />
        <small>We'll send an email to your email to reset your password</small>
      </div>
      
      <div class="form-group">
        <button type="submit" ng-disabled="!checkValid()" class="btn"  ng-class="{'working': pending_forgot}">Reset</button>
         <p class="pull-right">
            <a href="#/login">Login</a>&nbsp;&nbsp;&nbsp;
            <a href="#/register">Register</a>   
         </p>
      </div>
    </form>
  </div>
  <div class="col-md-2">
  </div>
</div>
