<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h3>Login to system</h3>
    <div class="form" ng-submit="submit()">
      <div class="form-group">
        <label>user name</label>
        <input type="text" class="form-control" ng-model="login_name" placeHolder="user name or email" required/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="password" placeHolder="your password" required/>
      </div>
      <div class="form-group">
        <input type="submit" ng-disabled=" !login_name || !password" value="Login" class="btn btn-default">
        <a class="pull-right" href="#/register">Register</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
