<div id="header" class="row">
  <div class="col-md-2">
    <a id="logo" ><img class="flip" src="frontend/images/radio.png"/></a>
  </div>
  <div class="col-md-4">
    <input type="search" class="search-box form-control" placeHolder="Tên album"  />
  </div>
</div>

<div class="main row">
  <div class="navigation col-md-2">
    <div class="online-section nav-item">
      <h3>Online</h3>
      <ul>
        <li>
          <a href="">Phổ biến</a>
        </li>
        <li>
          <a href="">Gần đây</a>
        </li>
      </ul>
    </div>
    <div class="user-section nav-item">
      <h3>Thư viện</h3>
      <ul>
        <li class="active"><a href="#">Các album</a></li>
        <li><a href="#">Chủ đề</a></li>
        <li><a href="#">Nghe gần đây</a></li>
        <li><a href="#">Yêu thích</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="content-list">
      <div class="album">
        <img src="frontend/images/album.png">
        <a class="title" title="Những bài hát bất hủ của Lam Trường va Dam Vinh Hung"  data-placement="bottom" >
          Những bài hát bất hủ của Lam Trường va Dam Vinh Hung
        </a>
        <p class="number-songs">Bai hat: <span>5</span></p>
        <p class="tag">Tags: <span><a>Quê Hương</a>, <a>Nhạc trẻ</a>, <a>Trữ tình</a>, <a>Nhạc tiền chiến</a>, <a>Nhac nuoc ngoai</a>, <a>Trung Quoc</a></span></p>
      </div>
      <div class="album">
        <img src="frontend/images/album.png">
        <a class="title" title="Những bài hát bất hủ của Lam Trường va Dam Vinh Hung"  data-placement="bottom" >
          Những bài hát bất hủ của Lam Trường va Dam Vinh Hung
        </a>
        <p class="number-songs">Bai hat: <span>5</span></p>
        <p class="tag">Tags: <span><a>Quê Hương</a>, <a>Nhạc trẻ</a>, <a>Trữ tình</a>, <a>Nhạc tiền chiến</a>, <a>Nhac nuoc ngoai</a>, <a>Trung Quoc</a></span></p>
      </div>
      <div class="album">
        <img src="frontend/images/album.png">
        <a class="title" title="Những bài hát bất hủ của Lam Trường va Dam Vinh Hung"  data-placement="bottom" >
          Những bài hát bất hủ của Lam Trường va Dam Vinh Hung
        </a>
        <p class="number-songs">Bai hat: <span>5</span></p>
        <p class="tag">Tags: <span><a>Quê Hương</a>, <a>Nhạc trẻ</a>, <a>Trữ tình</a>, <a>Nhạc tiền chiến</a>, <a>Nhac nuoc ngoai</a>, <a>Trung Quoc</a></span></p>
      </div>
      <div class="album">
        <img src="frontend/images/album.png">
        <a class="title" title="Những bài hát bất hủ của Lam Trường va Dam Vinh Hung"  data-placement="bottom" >
          Những bài hát bất hủ của Lam Trường va Dam Vinh Hung
        </a>
        <p class="number-songs">Bai hat: <span>5</span></p>
        <p class="tag">Tags: <span><a>Quê Hương</a>, <a>Nhạc trẻ</a>, <a>Trữ tình</a>, <a>Nhạc tiền chiến</a>, <a>Nhac nuoc ngoai</a>, <a>Trung Quoc</a></span></p>
      </div>
      <div class="album">
        <img src="frontend/images/album.png">
        <a class="title" title="Những bài hát bất hủ của Lam Trường va Dam Vinh Hung"  data-placement="bottom" >
          Những bài hát bất hủ của Lam Trường va Dam Vinh Hung
        </a>
        <p class="number-songs">Bai hat: <span>5</span></p>
        <p class="tag">Tags: <span><a>Quê Hương</a>, <a>Nhạc trẻ</a>, <a>Trữ tình</a>, <a>Nhạc tiền chiến</a>, <a>Nhac nuoc ngoai</a>, <a>Trung Quoc</a></span></p>
      </div>
      <div class="album">
        <img src="frontend/images/album.png">
        <a class="title" title="Những bài hát bất hủ của Lam Trường va Dam Vinh Hung"  data-placement="bottom" >
          Những bài hát bất hủ của Lam Trường va Dam Vinh Hung
        </a>
        <p class="number-songs">Bai hat: <span>5</span></p>
        <p class="tag">Tags: <span><a>Quê Hương</a>, <a>Nhạc trẻ</a>, <a>Trữ tình</a>, <a>Nhạc tiền chiến</a>, <a>Nhac nuoc ngoai</a>, <a>Trung Quoc</a></span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="wrap-song-list">
      <h4>Đang nghe</h4>
      <div class="song-list">
        <ul  type="1">
          <li><span>1.</span> <a>Noi tinh yeu bat dau</a></li>
          <li><span>2.</span> <a>Thuong ve mien trung</a></li>
          <li><span>3.</span> <a>Liên khúc sao không thấy anh về, Thắp nén hương yêu </a></li>
          <li class="playing"><span>4.</span> <a>Quang nam thuong nho</a></li>
          <li><span>5.</span> <a>Noi tinh yeu bat dau</a></li>
          <li><span>6.</span> <a>Thuong ve mien trung</a></li>
          <li><span>7.</span> <a>Lien khuc sao khong thay anh ve</a></li>
          <li><span>8.</span> <a>Quang nam thuong nho</a></li>
          <li><span>9.</span> <a>Noi tinh yeu bat dau</a></li>
          <li><span>10.</span> <a>Thuong ve mien trung</a></li>
          <li><span>11.</span> <a>Lien khuc sao khong thay anh ve</a></li>
          <li><span>12.</span> <a>Quang nam thuong nho</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>