@font-face {
  font-family: "Myriad Pro Light";
  src: url(../fonts/MyriadPro-Light.ttf);
  font-weight: bold; }
.fast_animate, .animate-if, .animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* Begin animate if */
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0; }

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1; }

/* End animate if */
/*Animate repeat */
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0; }

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1; }

/* End animate repeat */
.btn {
  border-radius: 0px;
  background-color: transparent;
  border-color: #008fd5 !important; }
  .btn:hover {
    background-color: #008fd5; }

button.working, a.working, input.working {
  padding-right: 23px; }
  button.working:after, a.working:after, input.working:after {
    display: inline-block;
    position: relative;
    left: +10px;
    content: "\f1ce";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear; }

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

*::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

*::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent)); }

body {
  background: -webkit-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* W3C */
  font-family: "Myriad Pro", "Helvetica Neue", Arial, sans-serif; }

a, p {
  color: #7b7b7b;
  font-size: 13px;
  line-height: 1.2em; }

a {
  cursor: pointer; }

a:hover {
  color: #008fd5; }

h1, h2, h3, h4 {
  color: #434343; }

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px; }

h3 {
  font-weight: normal;
  font-size: 18pt;
  margin: 5px 0px;
  color: #7b7b7b; }

@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip; }

#wrapper {
  width: 950px;
  height: 620px;
  background: #fbf9f8;
  margin: 30px auto 0px auto;
  padding: 35px;
  position: relative;
  /* end .player-zone */ }
  #wrapper #header {
    margin-bottom: 30px;
    position: relative; }
    #wrapper #header #logo {
      position: absolute;
      left: 10px;
      top: -18px; }
      #wrapper #header #logo img {
        width: 60px; }
    #wrapper #header input[type="search"] {
      background: #fbf9f8;
      border-radius: 0px; }
  #wrapper .navigation ul {
    margin-bottom: 30px; }
    #wrapper .navigation ul li.active {
      position: relative; }
      #wrapper .navigation ul li.active:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -35px;
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #008fd5; }
      #wrapper .navigation ul li.active a {
        color: #008fd5; }
    #wrapper .navigation ul li a {
      padding: 5px 0px;
      font-size: 14px;
      line-height: 30px; }
  #wrapper .content-list {
    height: 400px;
    overflow: auto; }
    #wrapper .content-list .album {
      clear: both;
      margin: 0px 0px 30px 0px;
      position: relative; }
      #wrapper .content-list .album img {
        float: left;
        margin: 0px 10px 0px 0px;
        width: 80px;
        height: 80px; }
      #wrapper .content-list .album a.title {
        color: #434343;
        margin: 0px 0px 0px 0px;
        font-size: 15px;
        line-height: 16px;
        font-weight: normal;
        width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block; }
        #wrapper .content-list .album a.title:hover {
          color: #008fd5; }
      #wrapper .content-list .album p.tag {
        /* background: url("../images/tag_blue.png") no-repeat left center; */
        color: #7b7b7b;
        margin: 0px;
        display: inline-block;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      #wrapper .content-list .album .number-songs {
        /* margin-bottom:0px; */ }
      #wrapper .content-list .album p.tag span, #wrapper .content-list .album .number-songs span {
        color: #434343; }
  #wrapper .wrap-song-list h4 {
    margin: 0px 0px 10px 0px;
    color: #7b7b7b;
    font-weight: normal; }
  #wrapper .wrap-song-list .song-list {
    height: 370px;
    padding-right: 10px;
    overflow: auto; }
    #wrapper .wrap-song-list .song-list ul li {
      padding: 6px 0px; }
      #wrapper .wrap-song-list .song-list ul li span {
        min-width: 20px;
        display: inline-block; }
      #wrapper .wrap-song-list .song-list ul li.playing a {
        color: #008fd5; }
      #wrapper .wrap-song-list .song-list ul li a {
        color: #7b7b7b; }
  #wrapper .wrap-player-zone {
    position: absolute;
    bottom: 0px;
    left: 35px;
    right: 35px; }
    #wrapper .wrap-player-zone .playlist {
      position: absolute;
      right: 0px;
      bottom: 120px;
      padding: 20px;
      background: #fff;
      width: 300px;
      height: 400px; }
      #wrapper .wrap-player-zone .playlist:before {
        position: absolute;
        bottom: -30px;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        border-width: 15px;
        left: 120px;
        border-color: #fff transparent transparent transparent; }
      #wrapper .wrap-player-zone .playlist .fa-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 15pt;
        color: #434343;
        cursor: pointer; }
      #wrapper .wrap-player-zone .playlist .scroll {
        overflow-y: auto;
        max-height: 310px; }
        #wrapper .wrap-player-zone .playlist .scroll ul li a {
          line-height: 2em; }
          #wrapper .wrap-player-zone .playlist .scroll ul li a.active {
            color: #008fd5; }
  #wrapper .player-zone {
    margin-top: 20px;
    height: 80px;
    position: relative;
    /* override audiojs */
    /*end .audio-js */ }
    #wrapper .player-zone img.cover {
      width: 60px;
      height: 60px;
      float: left;
      margin: 0px 20px 0px 0px; }
    #wrapper .player-zone p.title {
      color: #434343;
      font-size: 13pt; }
    #wrapper .player-zone .audiojs {
      display: table;
      width: 700px;
      height: 45px; }
      #wrapper .player-zone .audiojs .play-pause {
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        right: 50px;
        top: 20px;
        width: 25px;
        height: 30px;
        padding: 0px;
        margin: 0px;
        overflow: hidden; }
        #wrapper .player-zone .audiojs .play-pause p {
          font-size: 20px; }
          #wrapper .player-zone .audiojs .play-pause p:hover i {
            color: #008fd5; }
      #wrapper .player-zone .audiojs .error-message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 700px;
        display: inline-block !important;
        position: absolute;
        bottom: 0px; }
      #wrapper .player-zone .audiojs .scrubber {
        position: relative;
        width: 420px;
        height: 14px;
        background: #7b7b7b; }
      #wrapper .player-zone .audiojs .progress {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 14px;
        width: 0px;
        background: #008fd5;
        z-index: 1;
        border-radius: 0px;
        margin: 0px;
        cursor: pointer; }
      #wrapper .player-zone .audiojs .loaded {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 14px;
        width: 0px;
        background: #434343;
        cursor: pointer; }
      #wrapper .player-zone .audiojs strong {
        font-weight: normal; }
        #wrapper .player-zone .audiojs strong.duration {
          position: absolute;
          right: 320px;
          top: 27px; }
    #wrapper .player-zone .volume-tune {
      position: absolute;
      right: 200px;
      top: 0px; }
      #wrapper .player-zone .volume-tune p {
        color: #434343;
        font-size: 13pt; }
      #wrapper .player-zone .volume-tune .wrap-range {
        cursor: pointer;
        height: 14px;
        background: #7b7b7b;
        width: 100px;
        float: left; }
        #wrapper .player-zone .volume-tune .wrap-range .range {
          background: #008fd5;
          height: 100%; }
    #wrapper .player-zone i#next-song, #wrapper .player-zone i#prev-song, #wrapper .player-zone i#current-list {
      position: absolute;
      top: 25px;
      right: 10px;
      color: #7b7b7b;
      font-size: 20px;
      cursor: pointer; }
      #wrapper .player-zone i#next-song:hover, #wrapper .player-zone i#next-song.active, #wrapper .player-zone i#prev-song:hover, #wrapper .player-zone i#prev-song.active, #wrapper .player-zone i#current-list:hover, #wrapper .player-zone i#current-list.active {
        color: #008fd5; }
    #wrapper .player-zone i#prev-song {
      right: 100px; }
    #wrapper .player-zone i#current-list {
      right: 150px; }

.alertify-notifier.ajs-right .ajs-message {
  word-wrap: break-word; }
  .alertify-notifier.ajs-right .ajs-message a {
    color: #008fd5;
    text-shadow: none; }

.quick-buttons {
  position: absolute;
  top: 35px;
  right: 35px; }
