<div class="wrap-song-list clear" >
  <div class="btn-group group-song pull-right" ng-if="songs !== null">
    <button type="button" class="btn" ng-click="addSong()"><i class="fa fa-plus"></i> Add song</button>
  </div>
  <p class="clear alert" ng-if="songs == null && !loading_songs">The song list is empty</p>
  <div ng-if="loading_songs"   class="clear">
    <ng-include src="'loading.html'" ng-init="text='Loading songs in the album'"></ng-include>
  </div>
  <p  class="clear alert" ng-if="song !== null && songs.length == 0">There is no song in this album, You can add more</p>
  
  <div ng-if="song !== null && songs.length > 0">
    <h4><i class="fa fa-music"></i> Album: {{current_album.title}}</h4>
    <div class="song-list">
      <ul  type="1">
        <li ng-repeat="song in songs">
          <span>{{ $index +1 }}.</span> <a ng-click="playSong($index)">{{song.title}}</a>
          <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default transparent dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gear fa-lg"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a ng-click="editSong(song)"><i class="fa fa-pencil"></i> Edit</a></li>
              <li><a ng-click="deleteSong(song)"><i class="fa fa-remove"></i> Delete</a></li>
              <li><a ng-click="playSong($index)"><i class="fa fa-play"></i> Play</a></li>
              <li><a ng-click="addToQueue(song)"><i class="fa fa-play"></i> Add to queue</a></li>
              <li><a ng-click="downloadSong(song)"><i class="fa fa-download"></i> Download</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tuan-modal animate-if" ng-if="show_song_form">
  <div class="body">
      <i class="fa fa-close" ng-click="$parent.$parent.show_song_form = false;" ></i>
      <h3>Add new song</h3>
      <hr/>
      <div class="content">
        <form class="form" ng-submit="submitSong()">
          <p>
            <label>Song title</label>
            <input type="text" class="form-control" ng-model="$parent.$parent.song_title" placeHolder="Song title" ng-required focus-me="{{true}}" />
          </p>
          <p>
            <label>Song link</label>
            <input type="url" class="form-control"  ng-model="$parent.$parent.song_link" placeHolder="The url for song" />
          </p>
          
          <button type="submit" class="btn btn-default"  ng-disabled="!song_title || !song_link || pending_add_song"  class="btn btn-default"  ng-class="{'working': pending_add_song || pending_edit_song}">
            <i class="fa fa-plus"></i> {{is_edit_song ? "Update":"Add"}}
          </button>
        </form>
      </div>
  </div>
</div>