<div class="wrap-song-list clear" >
  
  <p class="clear alert" ng-if="songs == null && !loading_songs">The song list is empty</p>
  <div ng-if="loading_songs"   class="clear">
    <ng-include src="'loading.html'" ng-init="text='Loading songs in the album'"></ng-include>
  </div>
  <p class="inline" ng-if="song !== null && songs.length == 0 && !loading_songs">
    <button type="button"  ng-tooltip title="Add new song" class="btn pull-right" ng-click="addSong()"><i class="fa fa-plus"></i> Add song</button> 
    <button type="button"  ng-tooltip title="Add new song" class="btn pull-right" ng-click="addMultiSong()"><i class="fa fa-plus"></i> Add multi songs</button> 
  </p>
  <p  class="clear alert" ng-if="!loading_songs && song !== null && songs.length == 0">There is no song in this album, You can add more</p>
  <div ng-if="!loading_songs && song !== null && songs.length > 0">
    <h4>
      {{current_album.title}}
    </h4>
    <div class="btn-group context-songs pull-right" ng-if="isOwn(current_album.user_id)">
      <button type="button" class="btn btn-default transparent dropdown-toggle" data-toggle="dropdown" ng-click="addContextClass($event)">
        <i class="fa fa-wrench fa-lg"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a ng-click="addSong(album)"><i class="fa fa-plus"></i> Add single song</a>
        </li>
        <li>
          <a ng-click="addMultiSong(album)"><i class="fa fa-plus"></i> Add multi songs</a>
        </li>
        
      </ul>
    </div>

    <div class="song-list">
      <ul  type="1" html-sortable="sortable_songs" ng-model="songs"  >
        <li ng-repeat="song in songs " ng-class="{active:isPlaying(song)}">
          <i class="fa fa-sort handle"></i>
          <span>{{ $index +1 }}.</span> <a ng-click="playSong($index)">{{song.title}}</a>
          <!-- Single button -->
          <div class="btn-group wrap-context">
            <button type="button" class="btn btn-default transparent dropdown-toggle" data-toggle="dropdown" ng-click="addContextClass($event)">
              <i class="fa fa-gear fa-lg"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li ng-if="isOwn(current_album.user_id)" ><a ng-click="editSong(song)"><i class="fa fa-pencil"></i> Edit</a></li>
              <li ng-if="isOwn(current_album.user_id)"><a ng-click="deleteSong(song)"><i class="fa fa-remove"></i> Delete</a></li>
              <li><a ng-click="playSong($index)"><i class="fa fa-play"></i> Play</a></li>
              <li><a ng-click="addToQueue(song)"><i class="fa fa-play"></i> Add to queue</a></li>
              <li><a ng-click="downloadSong(song)"><i class="fa fa-download"></i> Download</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tuan-modal animate-if" ng-if="show_song_form">
  <div class="body">
      <i class="fa fa-close" ng-click="$parent.$parent.show_song_form = false;" ></i>
      <h3>Add new song</h3>
      <hr/>
      <div class="content">
        <form class="form" ng-submit="submitSong()">
          <p>
            <label>Song title <span class="required">*</span></label>
            <input type="text" class="form-control" ng-model="$parent.$parent.song_title" placeHolder="Song title" ng-required focus-me="{{true}}" />
          </p>
          <p>
            <label>Song link <span class="required">*</span></label>
            <input type="url" class="form-control"  ng-model="$parent.$parent.song_link" placeHolder="The url for song" />
            <small>Begin with http:// or https://</small>
          </p>
          <p>
            <label>Your emotion</label>
            <textarea  class="form-control" ng-model="$parent.$parent.song_emotion" placeHolder="Song emotion"  ></textarea>
          </p>
          
          <button type="submit" class="btn btn-default"  ng-disabled="!song_title || !song_link || pending_add_song"  class="btn btn-default"  ng-class="{'working': pending_add_song || pending_edit_song}">
            <i class="fa fa-plus"></i> {{is_edit_song ? "Update":"Add"}}
          </button>
        </form>
      </div>
  </div>
</div>

<div class="tuan-modal animate-if" ng-if="show_multi_song_form">
  <div class="body">
      <i class="fa fa-close" ng-click="$parent.$parent.show_multi_song_form = false;" ></i>
      <h3>Add multi songs( For advance user only )</h3>
      <hr/>
      <div class="content">
        <form class="form" ng-submit="submitMultiSong()">
          <p>
            <label>list songs as json format<span class="required">*</span></label>
            <textarea class="form-control" ng-model="$parent.$parent.list_add_song" placeHolder="List song" ng-required focus-me="{{true}}" rows="10" ></textarea>
          </p>
          <p>
            <label class="cursor" ng-click="show_multi_song_help = !show_multi_song_help">Help <i class="fa fa-support"></i></label>
          </p>
          <div ng-if="show_multi_song_help">
            <p>You can paste the json format like this</p>
            <pre>
[
  {
    "link": "http://link/song/1",
    "title": "Song title 1"
  },
  {
    "link": "http://link/song/2",
    "title": "Song title 2"
  },
  {
    "link": "http://link/song/2",
    "title": "Song title 3"
  }
]
            </pre>
          </div>
          <button type="submit" class="btn btn-default"  ng-disabled="pending_add_multi_song"  class="btn btn-default"  ng-class="{'working': pending_add_multi_song}">
            <i class="fa fa-plus"></i> Add songs
          </button>
        </form>
      </div>
  </div>
</div>